/* ==== Scroll to top button ==== */


.top-link {
    visibility: hidden;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: auto;;
    height: auto;
    cursor: pointer;
    text-align: center;
    background-color: #ADC7BD;
    padding: 1.2rem;
    border-radius: 50%;
    transition: all .5s ease-in-out;
  }
  
  
  
  .top-link i {
    font-size: 3vh;
    text-decoration: none;
    color: #ffffff;
  }
  
  
  
  .top-link:hover {
    background-color: #bfbfbf;
  }
  
  
  
  /* Classes for JS */
  
  .show {
    visibility: visible;
    opacity: .8;
  }
  
  .not-show {
    visibility: hidden;
    opacity: 0;
  }
  